<div>
    <div>
        <p> 小林图解 MySQL: </p>
        <div class="progress">
            <div class="mybar" id="xiaolin-progress"></div>
        </div>
        <br/>
    </div>
</div>

<style>
div.progress {
  width: 90%;
  height: 30px;
  background-color: #E7E9EB;
}

div.mybar {
  height: 30px;
  background-color: #157FD1;
  text-align: center; 
  font-size: large;
  line-height: 30px; 
  color: white;
}
</style>

<script>
function setWidth(progressObj) {
    var elem = document.getElementById(progressObj.id);
    var percentage = Math.round(progressObj.cur / progressObj.total * 100);
    elem.style.width = percentage + '%';
    elem.innerHTML = percentage + '%';
}

const xiaolin = {
    cur: 3,
    total: 19,
    id: "xiaolin-progress"
};
setWidth(xiaolin);
</script>
