<div>
    <div>
        <p> 小林图解操作系统: </p>
        <div class="progress">
            <div class="mybar" id="xiaolin-os-progress"></div>
        </div>
        <br/>
    </div>
    <div>
        <p> MySQL 45 讲: </p>
        <div class="progress">
            <div class="mybar" id="mysql-45-progress"></div>
        </div>
        <br/>
    </div>
    <div>
        <p> MySQL 是怎样运行的: </p>
        <div class="progress">
            <div class="mybar" id="mysql-tutorial-progress"></div>
        </div>
        <br/>
    </div>
</div>

<style>
div.progress {
  width: 90%;
  height: 30px;
  background-color: #E7E9EB;
}

div.mybar {
  height: 30px;
  background-color: #157FD1;
  text-align: center; 
  font-size: large;
  line-height: 30px; 
  color: white;
}
</style>

<script>
function setWidth(progressObj) {
    var elem = document.getElementById(progressObj.id);
    var percentage = Math.round(progressObj.cur / progressObj.total * 100);
    elem.style.width = percentage + '%';
    elem.innerHTML = percentage + '%';
}


/* 小林图解操作系统 */
const xiaolin = {
    cur: 28,
    total: 743,
    id: "xiaolin-os-progress"
};
setWidth(xiaolin);

/* MySQL 45 */
const mysql = {
    cur: 7,
    total: 45,
    id: "mysql-45-progress"
};
setWidth(mysql);

/* MySQL 是怎样运行的 */
const mysql_tutorial = {
    cur: 310,
    total: 389,
    id: "mysql-tutorial-progress"
};
setWidth(mysql_tutorial);
</script>
